.logout-btn {
	@apply bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-1 px-4;
}

.chats {
	@apply bg-white rounded;
	max-width: 400px;
	width: 100%;
	padding: 16px;
}

.chat-items {
	@apply bg-gray-900 text-white rounded overflow-y-auto;
	padding: 10px;
	max-height: 400px;
	height: 100%;
	margin-top: 10px;

	&::-webkit-scrollbar {
		width: 10px;
	}
	&::-webkit-scrollbar-track {
		box-shadow: inset 0 0 5px #3d7e63;
		border-radius: 10px;
	}
	&::-webkit-scrollbar-thumb {
		background: #3d7e63;
		border-radius: 10px;
	}
	&::-webkit-scrollbar-thumb:hover {
		background: #0b5f54;
	}
}

.chat-send {
	div {
		@apply flex items-center border-b-2 border-gray-900 py-1;
	}
	input {
		@apply appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none;
	}
	button {
		@apply flex-shrink-0 bg-gray-900 text-sm text-white py-2 px-3 rounded;
	}
}
